.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 171, 157);
  padding: 0.2rem 0.5rem 0.2rem 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  p {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 0.5;
    color: rgb(185, 28, 0);
  }
}

.close-button {
  border-radius: 1000px;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: rgb(221, 66, 39);
  border: 1px solid rgb(99, 0, 21);
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: translate(-2px, -2px);
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  }
}
